{% extends 'base.html' %}

{% block page_content %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-hoverable">
        {% for item in primary_menu %}
            <a class="navbar-item button  {% if item[1] == primary_menu_item[1] %}is-primary{% endif %}"
               href="/dq/{{ item[1] }}">
                {{ item[0] }}
            </a>
        {% endfor %}
    </div>
</nav>

<div class="container">
  <form id="form" class="form" method="post" action="/dq">

      <input
              id="start-date"
              class="input"
              type="date"
              value={{ dates.start_date }}
              name="start-date"/>
      <input
          id="end-date"
          class="input"
          type="date"
          value={{ dates.end_date }}
          name="end-date"/>
      <input
          id="submit-dates"
          type="submit"
          value="Query date"
          name="query"
          class="button is-info"/>
      <i class="fas fa-sync-alt is-pulled-right icon" id="refresh-dates"></i>
  </form>
    <script type="text/javascript" src="{{ url_for('static', filename='js/date_picker.js') }}"></script>
</div>

<div class="columns is-variable is-8">
    <aside class="column menu is-narrow">
        <ul class="menu-list">
            {% for item in secondary_menu %}
                <a {% if item[1] == secondary_menu_item[1] %}class="is-active"{% endif %}
                   href="/dq/{{ primary_menu_item[1] }}/{{ item[1] }}">
                    {{ item[0] }}
                </a>
            {% endfor %}
        </ul>
    </aside>
    <div class="column">
            <h1 class="title">
                {{ title }}
                <span>
                    <b class="tip">
                        <i id="data-quality-info" class="fas fa-question-circle"></i>
                        <span>{{ description }}</span>
                    </b>
                </span>

            </h1>

        <!--<div id="data-quality-description" style="display: none">-->
            <!--{{ description }}-->
        <!--</div>-->
        <script>
            const info = document.querySelector('h1');
            const description = document.querySelector('#data-quality-description');

            function showDescription() {
                description.style.display = 'block';
            }

            function hideDescription() {
                description.style.display = 'none';
            }

            info.addEventListener('mouseenter', showDescription);
            info.addEventListener('mouseleave', hideDescription);

        </script>

        <div class="data-quality" id="data-quality">
            {{ content | safe }}
        </div>
    </div>
</div>
{% endblock %}

