.navbar {
    border-bottom: 1px solid lightgrey;
}

.columns {
   margin-top: 10px;
}
.interact-columns {
   margin-top: 10px;
   max-width: 1200px;
   overflow-x: scroll;
}

#data-quality-description {
    margin: 10px 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    background-color: lightyellow;
}

.plot-grid {
    display: grid;
    grid-gap: 40px;
}
div.plot.large {
}

.plots {
    display: grid;
    grid-template-columns: 310px 310px 310px;
    grid-gap: 20px;
    border: 1px solid lightgray;
    margin: 20px;
    padding: 20px;
}

plot-container {
    border: 1px solid lightgray;
}

.info {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}

.modal-card, .modal-content {
    position: static;
}

.form {
  font-size: 30px;
}

.input {
  max-width: 15%;
  margin-top: 1%;
  margin-right: 2%;
  width: 20%;
}
.button {
  margin-top: 1%;
}

.icon {
  font-size: 12px;
}

b.tip {
    border-bottom: 1px dashed;
    text-decoration: none
}
b.tip:hover {
    cursor: help;
    position: relative;

}
b.tip span {
    display: none
}
b.tip:hover span {
    color: black;
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 350px;
    position: absolute;
    top: 10px;
    text-decoration: none;
    font-weight: 5px;
    font-size: 15px;
}